<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Bajra</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Bajra popularly known as Pearl millet, cattail millet or bulrush belongs 
    to the family Graminea. The crop is cultivated for grain as well as for 
    fodder in the arid region of Africa and Asia and as a pasture in U.S.A. 
    It is originated in India or Africa. It is grown all over India except 
    Assam and part of northeast India.
  </p>

  <h3>Climate and Soil:</h3>
  <p>
    The crop has a wide adaptability as it may grow under different day lengths, 
    temperature and moisture stress. Most of the varieties developed in India 
    are photosensitive which helps in growing the crop during monsoon, rabi and 
    arid season. It requires low annual rainfall ranging between 40-50 cm and dry 
    weather. The crop may tolerate drought but cannot withstand high rainfall of 
    90 cm or above. Light soils of low inherent fertility good drainage, mild 
    salinity are best type for this crop. Crop does not tolerate soil acidity
  </p>

  <h3>Land Preparation:</h3>
  <p>
    The crop needs very fine tilt because the seeds are too small. 
    2-3 harrowings and a ploughing is followed so that a fine tilth 
    may be obtained to facilitate the sowing and proper distribution 
    of seed at appropriate depth.
  </p>
<hr>
  
  <!-- <h3>Varieties</h3>
  <img src="/images/variety.jpg" alt="" />
  <img src="/images/iri.jpeg" alt="" />
  <img src="/images/rain.jpeg" alt="" /> -->
  
  
  <h3>Varieties</h3>
  <p>
    BNBH-149, VBH-4 developed for Andhra Pradesh, Madhya Pradesh, 
    Gujarat, Maharashtra are capable of producing 14% higher yield.
    ICM4-155 gave higher yield than the standard check and adopted 
    for all growing tracts of India.Also H-306, NH-338 and hybrid like MP-204, 
    MP205 have been identified.
  </p>

  <h3>Sowing</h3>
  <p>
    Sowing time :- Most appropriate time of sowing is middle or last week of July
Seed rate and Spacing:-
4-5 kg/ha for drilling method
2.5-3 kg/ha for dibbling method
spacing 40 –45 cm between rows, 10 –15 cm within rows.
Seed treatment- The organo-mercurial compound Ceresan, Agrosan should be used @ 2.5-3 kg/ha to control seed borne diseases

Generally the crop requires low quantity of nutrients. But All India Co-ordinated Millet Improvement Project has proved that new plant types of bajra especially hybrids respond to very high doses of fertilizers.

Under rainfed areas application of organic manures such as FYM or compost helps in increasing the crop yield at the rate of 150-200 quintals/ha 80 –100 kg N:40-50 kgP:40-50kgK is recommended dose for hybrid variety.

Fertilizers are applied in split doses, half of nitrogen, full phosphorus and potash should be basal placed at the time of sowing . The organic manures must be applied 20 days before the sowing of the seeds for full decomposition. One fourth dose of nitrogen should be applied about 30 days and 60 days after sowing.
  </p>

  <h3>Irrigation</h3>
  <p>
    Bajra is grown rainfed and crop being drought resistant hardly needs any irrigation, however it is observed that the yield may be significantly increased by irrigating the crop at critical growth stages like maximum tillering, flowering and grain filling stage. Therefore light irrigations and efficient drainage is very essential for bajra production.
  </p>


  <h3>Plant Protection Measures:</h3>
  <h4>a) Insect pests:</h4>
  <p>Stem bores and grasshoppers are serious pests of bajra controlled by two sprayings with 2 litres of Eldrin 20 c.c and grasshoppers may be controlled by dusting the crop with BHC 5 percent.
  </p>
  <h4>b) Diseases:</h4>
  <p>Downy mildew- for controlling this disease seed treatment with fungicide like Dithane Z-78 or M-45 @ 2.0kg/ha in 800-1000 lit. of water.
    Smut- Treatment with Ceresan or Thirum @ 1-2 g/kg seeds is effective.
    Ergot- Seed treatment with 20% common salt solution followed by washing with fresh water and then treating with Ceresan or Thirum @ 1-2 g/kg seeds is effective
  </p>
    <img src="/images/disese.jpeg" alt="">

    <h3>Harvesting and Storage:    </h3>
  <h4>Harvesting and threshing:</h4>
  <p>The crop is harvested when grains become hard enough and contain moisture. Two methods are adopted for harvesting the crop Cutting earhead
    i) from standing crop followed by cutting of remaining plants later
    ii) Cutting of entire plants by sticks and stalking the plants for five days in sun for obtaining grains. Grains are separated either by beating the earheads with sticks or by trampling the earheads under bullock feet.
  </p>

    <h4>Storage:</h4>
    <p>The separated grains must be cleaned and dried in sun to bring about 12-14% moisture after which the grains may be bagged and stored in a moisture proof store.</p>


    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->
