<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Bitter Gourd</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Bitter Gourd is an important vegetable consumed by all people. It possesses both nutritive and medicinal values. It contains more vitamin C, than other vegetables. It also contains minerals like iron, phosphorus and calcium. juice has antacidic property and is also good for heart ailments. Cultivation of is quite profitable.
  </p>

  <h3>Climate and Soil</h3>
  <p>
    Basically, it is a crop of sub-tropical climate requiring hot and humid climate, temperature ranging from 250C to 350C. Crop is grown in Kharif and summer seasons where irrigation facilities are available.

Light to medium soils with good drainage are suitable. In light soils more organic manures need to be applied.
  </p>


  <h3>Land Preparation</h3>
  <p>
    One ploughing upto medium depth (7"-8" deep) should be given and 2-3 harrowings should be given to loosen the soil and to mix FYM.
  </p>


  <h3>Varieties</h3>
  <ol>
    <li>Hirakani</li>
    <li>Phule greengold</li>
    <li>Phule Priyanka</li>
    <li>Phule Ujwala</li>
    <li>Coimbatore white long</li>
  </ol>
<hr>
  
  

  <h3>Sowing</h3>
  <p>
    Sowing is a wide spaced Vine crop. It is grown in rings on broad beds. Broad beds are opened at 1.5 m.with 60 cm.furrows, seeds dibbled in rings.
  </p>

  <h3>Manures and fertilizers</h3>
  <p>
    25 tonnes of FYM and 200 kg. Neem cake are applied at the time of land preparation and mixed thoroughly. Top dressing with 200 kg Nitrogen + 50 kg Phosphorus and 50 kg Potash is done. 50 kg Nitrogen + 50 kg Phosphorus + 50 Kg Potash are applied at the time of sowing and remaining Nitrogen in three split doses later on at an interval of 30-35 days
  </p>

  <h3>Irrigation</h3>
  <p>
    In kharif season, irrigations are given at an interval of 10-12 days and in summer season 5-6 days interval.
  </p>

  <h3>Plant Protecton</h3>
  <p>
    Crop is affected by powdery mildew, aphids and fruitfly. For controlling insect attack, wettable sulphur 30 gm + blito x 30 gm + Nuvacron 15 ml or Endosulphan 20 ml + sticker 10 ml in 10 litre of water be sprayed at 10-12 days interval.
  </p>

  <h3>Harvesting and Storage</h3>
  <p>
    Harvesting starts 60 days after sowing. The fruits are harvested every after 8-10 days. In all 15-16 pluckings are obtained. Harvesting should be done in the morning before 11 a.m. Yield obtained is 15-18 tonnes/ha
  </p>




    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->