<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Cardamom</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Cardamom ( Elettaria cardamomum L.) popularly, known as Queen of Spices is native to the evergreen rainy forests of Western Ghats in South India. It is cultivated in Kerala, Karnataka and Tamil Nadu. Cardamom is used for flavouring various preparations of food, confectionery, beverages and liquors.
  </p>

  <h3>Requirement</h3>
  <h4>Climate</h4>
  <p>
    It is grown in the areas where the annual rainfall ranges from 1500-4000mm, with a temperature range of 10-35o C and an altitude of 600-1200m above Mean Sea Level. Rainfall distribution should be good and summer showers during February-April are essential for panicle initiation.
  </p>
  <h4>Soil</h4>
  <p>
    Deep black loam soil with high humus content found in the forest region is best suited for cultivation. It also grows on laterite soils, clay loams and rich black soils having good drainage. Sandy soil is not suitable.
  </p>
  

  <h3>Varieties</h3>
  <p>
    Coorg cardamom Malabar Selection-1 (CCS-1), ICRI-1, ICRI-2, Mudigree-1, PV-1, SKP-14.
  </p>

  <h3>Nursery</h3>
  <p>
    Cardamom is propagated mainly through seeds and also through suckers each consisting of atleast one old and a young aerial shoot. Seedlings are normally raised in primary and secondary nurseries. Raised beds are prepared after digging the land to a depth of 30-45cm. The beds of 1m width and convenient length raised to a height of about 30cm are prepared. A fine layer of humus-rich forest soil is spread over the beds. Seed are to be collected from well ripe capsules. Immediately after harvesting, the husk is removed and the seeds are washed repeatedly in water for removing the mucilaginous coating. Seeds should be sown immediately after extraction. One kg of seed capsules may produce 5000 seedlings. Sowing may be taken up during November-January and is done in rows. Seed beds are to be dusted with chloropicrin or Carbon disulphide. The germination commences in about 30 days and may continue for a month or two. After germination, the mulch is to be removed.
  </p>
<hr>
  
  <h3>Manuring</h3>
  <p>
    Manuring at the rate of 90g nitrogen (N), 60g phosphorus (P2O5) and 120g potash (K2O) per bed of 5x1m size, in three equal split doses at an interval of 45 days is recommended to produce healthier seedlings. The first dose of fertilizer may be applied 30 days after transplanting in the secondary nursery.  </p>

  <h3>Land Preparation</h3>
  <p>
    Pits of 45x45x30cm size are dug in April-May and filled with a mixture of top soil and compost or well decomposed farm yard manure. In slopy land, contour terraces may be made and pits may be taken along the contour and a close planting (2mx1m) is advisable along the contour.
  </p>

  <h3>Palnting</h3>
  <p>
    The planting is carried out during the rainy season commencing from June. Seedlings are to be planted upto the collar region for better growth. Cloudy days with light drizzle are ideal for planting. Generally in Kerala and Tamil Nadu, the seedlings are transplanted in March-May at a spacing of 20x 20 cm and mulched immediately. Beds are to be covered with an over head pandal and should be watered regularly.
  </p>

  <h3>Fertilizer</h3>
  <p>
    A fertilizer does of 75kg nitrogen (N), 75kg phosphorus (P2O5) and 150g potash (K2O) per ha is recommended under irrigated condition for high yielding plantation yielding 100 kg/ha and above and a dose of 30:60:30 kg/ha is recommended for gardens under rainfed condition. Organic manures like compost or cattle manure may be given @5 kg per clump. Fertilizer is applied in two split doses. The first application during May will help in the production of suckers and development of capsules and the second application during late September will help the initiation of panicles and sucker. Only half the dose of fertilizer is to be applied during the first year and full dose is given from second year onwards. Application of fertilizer is done at a radius of 30cm and covered with a thin layer of soil.
  </p>

  <h3>Irrigation</h3>
  <p>
    In order to overcome the dry spell during summer, it is necessary to irrigate the crop to get maximum production as it helps in initiation of panicles, flowering and fruit set. They may be irrigated at an interval of 10-15days till the onset of monsoon.
  </p>

  <h3>Intercultural operations</h3>
  <h4>Mulching</h4>
  <p>
    It is an important cultural practice in cardamom. Fallen leaves of the shade trees are utilized for mulching. Sufficient mulch should be applied during November-December to reduce the ill effects of drought, which prevails for nearly 4-5 months during summer. Exposing the panicle over mulch is beneficial for pollination.
  </p>

  <h4>Weeding</h4>
  <p>
    The first round of weeding is to be carried in May-June, the second in August-September and the third in December-January. Weedicides like paraquat @625ml in 500 litres of water may be sprayed in the interspaces between rows leaving 60cm around the plant base.
  </p>

  <h4>Trashing</h4>
  <p>
    Trashing consists of removing old and drying shoots of the plant once in a year with the onset of monsoon under rainfed conditions and 2-3 times in high density plantations provided with irrigated facilities.
  </p>

  <h4>Shade Regulation</h4>
  <p>
    It is very sensitive to moisture stress. Shade helps to regulate soil moisture as well as temperature and provides congenial micro-climate for cardamom. Excess shade is also quite detrimental and shade has to be regulated so as to provide 50-60% filtered sunlight. In order to provide adequate light during monsoon, shade regulation may be taken up before the onset of monsoon.
  </p>

  <h4>Earthing Up</h4>
  <p>
    After the monsoon is over, a thin layer of fresh fertile soil, rich in organic matter may be earthed up at the base of the clump, covering up to the collar region be scraping between the rows or collecting soil from staggered trenches/check pits. This encourages new growth.
  </p>

  <h3>Plant Protection</h3>
  <h4>Pest</h4>
  <h4>Thrips</h4>
  <p>
    Damage to leaves, shoots, inflorescence, thrips affected capsules fetch lower price.
  </p>
  <h4>control</h4>
  <p>
    Regulate shade in thickly shaded area, spray monocrotophos 0.025% during March to September.
  </p>

  <h4>Shoot, panicle, capsule/borer</h4>
  <p>
    Larvae bore the unopened leaf buds, panicles causing drying or feed on young seeds causing the capsules empty.  </p>
  <h4>control</h4>
  <p>
    Spraying monocrotophos or fenthion 0.075% at early stage of infection.  </p><h4>Pest</h4>
  <h4>Aphids</h4>
  <p>
    Nymphs and adults suck the sap and act as vector of the mosaic or 'Katte' Virus.  </p>
  <h4>control</h4>
  <p>
    Spray 0.05% dimethoate  </p><h4>Pest</h4>
  <h4>Parasitic nematodes</h4>
  <p>
    Poor germination and establishment in the nurseries, stunted and poor growth of plants, shedding of immature capsules in the main field.  </p>
  <h4>control</h4>
  <p>
    Treat the plants in the nursery with carbofuran 3 g @ 5 kg a.i/ha or in the main field with carbofurna 5 g a.i./clump and apply 0.5 kg of neem cake per clump twice a year.  
  </p>

  <h3>Disease</h3>
  <h4>Katte diseases</h4>
  <p>
    Spindle shaped, slender chlorotic flecks appear on youngest leaves, later these develop into pale green discontinuous stripes ass leaves mature. Infected clumps are stunted, smaller in size, with slender tillers and shorter panicles.
  </p>
  <h4>Control</h4>
  <p>
    Use healthy seedling. Rogue the infected plants.
  </p>

  <h4>Capsule rot</h4>
  <p>
    Affected capsules turn brownish black in colour, often rotting extends to tillers and rhizomes also.
  </p>
  <h4>Control</h4>
  <p>
    Do trashing, remove infected and dead plants etc. during premonsoon months, spray 1% Bordeaux mixture during May and repeat again in August.
  </p>

  <h4>Damping or rhizome rot</h4>
  <p>
    Infected seedlings collapse at collar region and die in patches, entire clump dies in grown up plants.
  </p>
  <h4>Control</h4>
  <p>
    Pre treat the nursery with 1:50 formaldehyde, drench the soil after germination with 0.2% copper oxychloride.
  </p>

  <h3>Harvesting</h3>
  <p>
    Cardamom plants normally start bearing two years after planting. In most of the areas the peak period of harvest is during October-November. Picking is carried out at an interval of 15-25 days. Ripe capsules are harvested in order to get maximum green colour during curing. After harvest, capsules are dried either in fuel kiln or electrical drier or in the sun. It has been found that soaking the freshly harvested green cardamom capsules in 2% washing soda solution for 10 minutes prior to drying helps to retain the green colour during drying. When drier is used, it should be dried at 45-50o C for 14-18 hours, while for kiln, over night drying at 50-60 o C is required. The capsules kept for drying are spread thinly and stirred frequently to ensure uniform drying. The dried capsules are rubbed with hands or coir mat or wire mesh and winnowed to remove any foreign matter. They are then sorted out according to size and colour, and stored in black polythene lined gunny bags to retain the green colour during storage.
  </p>


    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->