<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Cashew</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Cashew is native of South Eastern Brazil, from where it was introduced to Malabar coast of India in the sixteenth century to cover bare hillside for soil conservation. It gained commercial importance in 1920. African countries produce large quantities of cashewnut, but they are not processed into consumable products because of difficulties in organising the native labour. India imports raw cashewnuts, which are processed and converted into cashew kernels and cashew shell liquid and re-exported to the countries, like USA, Canada, United Kingdom, Australia and Russia.
  </p>

  <p>
    The cashew tree is a low spreading, evergreen tree with a number of primary and secondary branches and with a very prominent tap root and a well developed and extensive network of lateral and sinker roots. The fleshy peduncle the 'cashew apple' is juicy and sweet when ripe. The apple varies in size, colour, juice content and taste. It is a rich source of vitamin C and sugar. The cashew fruit is a kidney shaped drupaceous nut, greenish grey in colour. The nuts vary in size, shape, weight (3 to 20g) and shelling percentage (15-30 per cent)
  </p>


  <h3>Climate and Soil:</h3>
  <p>
    It is a hardy tropical plant and does not exact a very specific, climate. It can come up in places situated within 35 latitude on either side of the equator and also in the hill ranges upto 700 m MSL. It can grow well in places receiving rainfall from 50 cm to 250 cm and tolerate a temperature range of 25 to 49 C. it requires a bright weather and does not tolerate excessive shade.

Cashew is cultivated on a wide variety of soils in India like laterite, red and coastal sandy soil. To a limited extent, it is also grown on black soils. It can be also grown in hill slopes in virgin organic matter rich soils. They do not prefer water logged or saline soils.
  </p>


  <h3>Land Preparation:</h3>
  <p>
    The wheat crop requires a well-pulverized but compact seed bed for good and
    uniform germination. Three or four ploughings in the summer, repeated
    harrowing in the rainy season, followed by three or four cultivations and
    planking immediately before sowing produce a good, firm seed bed for the dry
    crop on alluvial soils. For the irrigated crop, the land is given a
    pre-sowing irrigation (palewa or raund) and the number of ploughings is
    reduced. Where white ants or other pests are a problem, Aldrin 5% or BHC 10%
    dust at the rate of 25 kg/ha should be applied to the soil after the last
    ploughing or before planking.
  </p>
<hr>
  
  <h3>Varieties</h3>
  <img src="/images/cver.png" alt="" />
  
  

  <h3>Propagation</h3>
  <h4>Seed propagation :</h4>
  <p>Seed propagation is seldom practised now except to raise the rootstock materials. Seeds should be collected during the month of March to May and the heavy seed nuts, which sink in water, are alone mixed with 2 parts of fine sand. They take normally 15 to 20 days for germination.</p>
    <img src="/images/disese.jpeg" alt="">

    <h3>Vegetative propagation</h3>
    <p>
        One year old shoots as well as current season shoots are used for air-layering. Though there is good root development in this method, heavy mortality occurs both at nursery stage and on the main field. Other drawbacks of this method are that it is cumbersome, time consuming and production of a limited number of layers per tree and as such layers are also not suitable for cyclone prone areas as they do not have a tap root providing less anchorage to soil.

The vegetative propagation through cuttings is seldom practised, as success is very less. Similarly veneer grafting, side grafting and patch budding are also reported to be successful but the nursery period is quite long, 3 to 4 years. Recently 'epicotyl grafting' and 'soft wood grafting' are recommended for commercial scale adoption. In the case of epicotyl grafting, tender seedlings with height of 15 cm are selected as root stocks and a 'V' shaped cut is made after beheading it at a height of 4 to6 cm from the cotyledons connective. The precured scion is collected and a wedge is made at the base of it, so as to exactly fit in the cut made in the stock. The scion is exactly fitted in the stock and tied with polythene strips. The success of epicotyl grafting varies from 50 to 60 per cent and depends upon high humidity, temperature, freedom from fungal disease, number of rainy days and rate of cambial growth. When the above method is adopted in 30 to 40 days old seedling, it is known as soft wood grafting. The success varies from 40 to 50 per cent.
    </p>

    <h3>
        Planting
    </h3>
    <p>
        Pits of 45x45x45 cm are dug and filled with a mixture of top soil, 10 kg of farm yard manure and one kg of neem cake at a distance of 7m x7m either way during June July and planted. In the case of seedling, 45 days old seedlings are transplanted.
    </p>

    <h3>Manures and fertilisers</h3>
    <img src="/images/cplant.png" alt="">

    <h3>Top Working</h3>
    <p>As most of the existing cashew plantations are of seedling progenies, the yield level is very low and highly erratic. Hence, top working with improved clones are suggested now. Trees of 20 to 25 years old are beheaded at a height of 0.5 m from the ground during December-February. A paste, made using 50 g, each of BHC 50 per cent wettable powder and copper oxychloride in a litre of water, should be applied all over the stump to check any infection by invading pathogens and borer insects. Profuse sprouting normally results in but only 10 to 15 healthy shoots and properly spaced on the stumps are alone retained. These shoots are grafted at softwood stage (cleft grafting) when they are about 40 to 50 days old. 7-8 successful grafts may be encouraged to grown and the sprouts should be periodically removed. Top worked trees grown vigorously due to the well established root system and they start yielding about 4kg per tree from the second year of rejuvenation and the yield gradually increases to stabilise at 8 kg from the fourth year of top working.</p>


    <h3>Cashew Processing</h3>
    <h4>Roasting</h4>
    <p>
        Roasting makes the shells brittle, besides making the extraction of kernels easier. A slight underoasting or overroasting adversely affects the quality and recovery of kernels. In the open pan roasting method, one kilogram of nuts are kept in shallow iron pans or earthen pots and are heated over an open fire. The nuts are rapidly turned to prevent charring. The roasted nuts are then removed from the pan and thrown on the floor. They are quickly covered with earth, which would absorb shell oil adhering to the roasting nuts and also cool them. The nuts are then subjected to subsequent operations. The cashew nuts are also roasted by drying under sun for two to three days when they lose much of the moisture contents and become brittle enough for shelling. The other improved methods of roasting cashewnuts are
    </p>
    <h4>i. Continuous roasting process</h4>
    <p>
        The principle adopted in this system is the same as in the case of open pan roasting method. This plant consists of a single walled or double walled rotating metallic drum. In the case of double walled drum, the smoke or gases produced during roasting escape through the interspace between the two walls of the drum and are condensed to shell oil by a cooling system but in the case of single walled drum, the gases that escape from the nuts during the process of roasting are allowed to escape through a chimney provided at the lower end and there is no provision for collecting shell liquid.
    </p>

    <h4>ii. Oil bath process</h4>
    <p>
        In this method, the nuts are held in wire trays and are passed through a bath of cashew shell oil maintained at a temperature of 200 to 2020C for a period of three minutes whereby the shell oil is recovered from the shells to the maximum possible extent. This process ensures uniform roasting of nuts and eliminates charring of kernels.
    </p>

    <h4>Shelling</h4>
    <p>
        After roasting, shelling is done by labour. Each nut is placed edgewise and cracked open with a light wooden mallet and the kernel extracted with or without the help of a wire prong. Care has to be taken that the inner kernel is intact and is not broken into bits.
    </p>

    <h4>Peeling</h4>
    <p>
        Removal of a thin outer brown skin is done by hand with the help of a safety pin or small hand knife. Peeling is made easier when the kernels are subjected to a heat treatment for about four hours in a drying chamber. After peeling, the kernels are spread out indoors on cement flooring so that they may absorb some moisture and become less brittle. This prevents the tendency to break easily during grading.
    </p>

    <h4>Gradding</h4>
    <p>
        Grading is done based on "counts" or number of kernels per pound. The kernels, which have no split, are separated as 'wholes'. These are again separated into six grades as 210,240,280,320,400 and 430 whole nuts per pound. The graded kernels should be fully developed, ivory white in colour and free from insect damage and black or brown spots. The broken and split kernels are then separated and classified as standard and scorched pieces, splits, butts, small pieces and each grade is separately packed.
    </p>

    <h4>Packing</h4>
    <p>
        Packing is done in this. In this method, the air inside the tine is exhausted and they are recharged with Co2 before they are sealed air-tight.
    </p>

    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->
