<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Coriander</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Coriander (Coriandrum sativum L.) is an annual herb, mainly cultivated for its fruits as well as for the tender green leaves. It is native of the Mediterranean region. In India, it is grown in Andhra Pradesh, Tamil Nadu, Karnataka, Rajasthan and Madhya Pradesh. Major portion is though consumed locally; a small quantity is being exported now.
  </p>

  <p>
    The fruits have a fragrant odour and pleasant aromatic taste. The odour and taste are due to the essential oil content, which varies from 0.1 to 1.0 % in the dry seeds. These essential oils are used for flavouring liquors, coca preparations in confectionary and also to mask the offensive odours in pharmaceutical preparations.
    The dried ground fruits are the major ingredients of the curry powder. The whole fruits are also used to flavour foods like pickles, sauces and confectionary. The young plants as well as the leaves are used in the preparation of chutney and are also used as seasonings in curries, soups, sauces and chutneys. It has medicinal properties too. Fruits are said to have carminative, diuretic, tonic, stomachic and aphrodisiac properties.
  </p>
  <p>
    Coriander belongs to the family Apiaceae. It is a smooth, erect annual herb 30 to 70 cm high, lower leaves broad with crenately lobed margins, upper leaves finely cut with lineary lobes, flowers small, white or pink in compound terminal umbels, fruits – schizocarp, globular, yellow-brown, ribbed, 2 seeds, ripe seeds are aromatic.
  </p>

  <h3>Varieties</h3>
  <img src="/images/vari.png" alt="">

  <h3>Climate and Soil:</h3>
  <p>
    It is a tropical crop and can be grown throughout the year (except very hot season i.e. March-May) for leaf purpose, but for higher grain yield it has to be grown in specific season. A dry and cold weather free from frost especially during flowering and fruit setting stage favours good grain production. Cloudy weather during flowering and fruiting stage favours pest and disease incidences. Heavy rain affects the crop. As an irrigated crop, it can be cultivated on almost all types of soils provided sufficient organic matter is applied. Black cotton soils with high retentivity of moisture is best under rainfed conditions.
  </p>


  <h3>Land Preparation:</h3>
  <p>
    For raising a rainfed crop, the land is ploughed 3 to 4 times following rains and field must be planted immediately to break the clods and to avoid soil moisture. For irrigated crop the land is ploughed twice or thrice and beds and channels are formed.
  </p>
<hr>

   <h3>Sowing</h3>
   <p>
    In the North and Central parts of India and Andhra Pradesh, it is mostly grown as a Rabi season crop and hence sowing is done between middle of October and middle of November. In certain pockets of the above area, late kharif crop is sometimes sown in August-September. In Tamil Nadu, as an irrigated crop, coriander is raised in June-July and September-October. In the first season, the crop matures late with an extended growth phase during January-February. The growth and the yield rainfed conditions, it is sown during September-October, at the onset of Northeast monsoon and harvested during January-February.

A seed rate of 10 to 15 kg per hectare is required. Seeds stored for 15 to 30 days record better and early germination than freshly harvested seeds. Seeds soaked in water for 12 to 24 hours before sowing also enhances better germination. The seeds are split into two halves by rubbing and generally done in rows spaced at 30 to 40 cm apart with 15 cm between hills. Soil depth should not exceed 3.0 cm. Three to five seeds are sown in seeds are broadcast and covered with country plough. Germination takes place in 10 to 15 days.
   </p>

   <h4>Manures and fertilisers</h4>
    <img src="/images/basal.png" alt="">


    <h3>Irrigation</h3>
    <p>First irrigation is given 3 days after sowing and thereafter at 10 to 15 days interval depending upon the soil moisture available in the soil.</p>

    <h3>Intercultural</h3>
    <p>
        The first hoeing and weeding and weeding are given in about 30 days. Thinning the plants is also attended simultaneously, leaving only two plants per hill. Depending upon the growth one or two more weeding are done.
    </p>

    <h3>Harvesting and Yield</h3>
    <p>
        The crop will be ready for harvest in about 90 to 110 days depending upon the varieties and growing season. Harvesting has to be done when the fruits are fully ripe and start changing from green to brown colour. Delaying of the harvest should be avoided lest shattering during harvest and splitting of the fruits in subsequent processing operations. The plants are cut or pulled and poled into small stacks in the field to beating with sticks or rubbing with hands. The produce is winnowed, cleaned and dried in partial shade. After drying, the produce is stored in gunny bags lined with paper. The rainfed crop yields on an average 400 to 500 kg/ha and the irrigated crop 600 to 1200kg/ha.
    </p>

    <h3>
        Plant Protection
    </h3>

    <p>At the seedling stage coriander is often attacked by the leaf eating caterpillars and semi-loopers and at the flowering stage by the aphids. Spraying the crop with methyl demeton (0.05%) is recommended to control the aphids but a flowering stage the use of any insecticide would kill the bee population affecting pollination in the crop.

        Powdery mildew (Erysiphe polygoni) is a serious disease, which ruin the crop if allowed unchecked in the initial stage itself. Spraying wettable sulphur 0.25% or 0.2% solution of Karathane twice at 10 to 15 days interval is recommended. Grain mould is caused by Helminthosporium sp., Alternaria sp., Carvularia sp. and Fusarium sp. It can be controlled by spraying carbendazim 0.1% 20 days after grain set.</p>

    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->
