<%- include("./partials/header") %>



<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login/Register</a
    >
    
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >
    
    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane
        and Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>



<div class="container">
  <h1>Welcome to Farmer Assistant</h1>
  <h3>Login to Access Features</h3>
</div> 

<%- include("./partials/footer") %>
