<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>European mushroom (Agaricus bisporus)</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Agaricus bisporus (Lange) Sing is popularly known as the button mushroom. This mushroom is extensively cultivated throughout the world and contributes about 40% of the total world production of mushroom. At present, India is roughly producing about 20,000 tonnes of this mushroom. The reasons for such a low production can be attributed to lack of awareness among masses, shortage of quality spawn, use of traditional methods of cultivation and inadequacy of post harvest disposal facilities. In India, the potential for the cultivation of this mushroom is tremendous due to vast availability of agricultural wastes. According to a rough estimate, about 300 million tonnes of straw is produced in India annually and if only 0.5% of it is utilized for white button mushroom production, then about 3,00,000 tonnes of mushroom can be produced which would be the highest production of mushroom any country in the world.
  </p>
  <h4>Area and distribution</h4>
  <p>
    Out of 20,000 tonnes produced in India, Haryana contributes around 1200 tonnes, Punjab 1000 tonnes, U.P 800 tonnes and H.P. 2500 tonnes. Rest of the production comes through J& K, Tamil Nadu, Karnataka, Kerala and other States.
  </p>

  <h3>Method of cultivation</h3>
  <p>
    Most of the production of white button mushroom in our country is seasonal. The cultivation is done using conventional methods. Usually, unpasteurized compost is used, hence yields are very low. However, in recent years, yield of mushroom has increased as a result of introduction of improved agronomic practices. Cultivation of the common white button mushroom requires technical skill. Apart from other factors, the system requires humidity, two different temperatures that is
Temperature for spawn or vegetative growth: 22-280C
  </p>
  <p>
    For fruit body formation: 15-180 Humidity: 85-95% and enough ventilation during
  </p>
  <p>
    Substrates that are sterilized are easily contaminated unless spawned under very aseptic conditions. Therefore steaming at 1000 C (pasteurization) is more acceptable steamer.
  </p>

  <h3>Compost preparation</h3>
  <p>
    Agricultural by products like cereal straw (wheat, barley, paddy, oat and rice), maize stalks, hay, sugarcane bagasse or any other cellulose wastes can be employed. Wheat straw should be freshly harvested, shining yellow in colour and should not have been exposed to rains. The straw should be in about 5-8cm long pieces, otherwise heap prepared by long straw would be less compact which may lead to improper fermentation. Conversely; too short straw makes heap too compact to allow enough oxygen to enter the centre of the heap and lead to anaerobic fermentation. Wheat straw or any of the above materials provide cellulose, hemicellulose and lignin, which are utilized by the mushroom mycelium as the carbon source. These materials also provide physical structure to the substrate needed to ensure proper aeration during composting for the build up of microflora, which is essential for the fermentation. Rice and barley straw are very soft, degrade very quickly during composting and also absorb more water as compared to wheat straw. While using these substrates, care should, therefore, be taken on the quantity of water to be used, schedule of turnings and adjustment to the rate and type of supplements. Since the byproducts used in composting do not have adequate nitrogen and other components required for the fermentation process, compounding mixture is supplemented with the nitrogen and carbohydrates, to start this process.
  </p>

  <h3>Spawning</h3>
  <p>
    Spawning is mixing of spawn infor optimum and timely yields. Optimum dose for spawn ranges between 0.5 and 0.75% of fresh weight of compost. Lower rates result in slow spread of mycelium and chances for diseases and competitors may increase. Higher rates may increase cost of spawning and very high rate of spawn sometimes results in unusual heating of compost.
  </p>
<hr>
  
  <h3>Crop management after spawning</h3>
  <p>
    The optimum temperature for growth of A. bisporus is 23 + - 20 C. Relative humidity in growing room should range from 85-90% during spawn-run.
  </p>
  
  
  <h3>Harvesting</h3>
  <p>
    Usually 3 to 4 days after opening the bags, mushroom primordia begin to form. Mature mushrooms become ready for harvesting in another 2 to 3 days. An average biological efficiency (fresh weight of mushrooms harvested divided by air-dry substrate weight x 100) can range between 80 to 150% and sometimes even more. To harvest the mushrooms, they are grasped by the stalk and gently twisted and pulled. A knife should not be used. The mushrooms remain fresh for up to 3 to 6 days in a refrigerator/cool place.  </p>





    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->