<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Rubber</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Malaysia, Indonesia, Thailand and Africa are the main rubber producing countries. Natural rubber for commercial production is available from Manihot glaziovii (cera rubber), Ficus elastica (India rubber), Castiolla elastica (Panama rubber), Parthenium argenatum (Guayul), Taraxacum koksaghyz and Hevea brasiliensis (Para rubber) and among them, Hevea brasiliensis is the most important commercial source of natural rubber. It is native of Brazil and was introduced in Asia in 1876. After proper chemical treatment, rubber wood provides enough strength and durability of any semi-hard wood available in India and can be used for the manufacture of useful articles like door and window components, furniture, wall panelling, interior decoration, tool handles etc.
  </p>

  <p>
    Rubber tree belongs to the natural order Euphorbiaceae. This tree is sturdy, tall and quick growing. It has a well developed tap root and laterals. The leaves are trifoliate, with long petioles. Flowers are unisexual, small and fragrant. Staminate flowers are small and numerous. Pollination is by insects. Latex vessels are present in all parts of the tree except in the wood.
  </p>

  <h3>Climate and Soil Requirements</h3>
  <p>
    Rubber exacts in its climatic requirements. The regions lying within 100 latitude on either side of the Equator is highly suitable for rubber cultivation. It requires a temperature ranging from 200 to 300C with a well distributed rainfall of 200-250cm over the year. It comes up in plains and also in slopes of mountainous regions ranging from 300-800m above sea level. This specific climate is available only in Kanyakumari district, Tamil Nadu and Kerala, which constitute the traditional area. It thrives well in deep well drained acidic soils of red lateritic loams or clayey loams with a pH varying from 4.5 to 6.0.
  </p>


  <h3>Propagation</h3>
  <h4>1. Seeds</h4>
  <p>
    Propagation through seed is practised to raise seedlings for rootstock purpose or to raise polyclonal seedling progenies. Seeds normally ripen during July-September in South India. As the viability is very short (8 weeks), they are to be sown immediately raised beds of river sand of 1m width and of convenient length are formed and the seeds are sown in a single layer toughing one another and pressed firmly with the surface of the seed just visible above. Nursery may be protected from direct sun by providing a temporary shade. Regular watering is attended to maintain the moisture in the beds. Seeds start germinating within 6 to 10 days. Such raise seedling stumps or at 60x90cm or 60x120cm to raise bud wood nursery or stumped budding. Otherwise, sprouted seeds can be directly planted in the field.
  </p>
  <h4>2. Budding</h4>
  <p>
    The scions of a particular clone is maintained in the bud wood nursery by planting the budded stumps or by budding the clone on the seedlings in situ at nursery. Budded stump often refers to the budded plant whose scion shoot is cut very close to the budding zone leaving few dormant buds in the scion shoot. On the other hand, if the root stock is cut as a stump and budding is done, usually green budding at four to five months stage, then it is known as stumped budding.
  </p>
  <p>
    When the budwood nursery plants are one year old, about 1m of usable budwood can be obtained. The budwood is cut when atleast 1m of brown bark has developed. The immature green portion should be removed to a point about 1m below the terminal bud, leaving the leaf stalks in position. The budwood may be cut off about 15cm at the base, leaving a few dormant buds to develop into bud shoots for the subsequent season. Two such sprouting shoots may be allowed for next year, from one metre shoot, 15 to 20 buds may be obtained.
  </p>
  <p>
    Modified forket method is followed and is done during April-May, when the weather is not dry or wet. Two types of budding techniques are practiced. Brown budding is done by using buds taken from bud wood of one year growth on to a stock plant of ten months old. Green budding on the other hand involves young green budwood and stock. Bud wood of 6-8 weeks old is used on stock seedlings of 2 to 6 months old.
  </p>
  <p>
    Recently, polybag plants are raised as such plants reach tapping stage quickly. Black polythene bags of 60x30cm with 400 guage are filled with topsoil alone along with 25g of rock phosphate. Green budded stumps are planted in these polybags and the scions are allowed to develop 2 to 3 whorl of leaves.
  </p>
<hr>
 
  
  <h3>Varieties</h3>
  <p>
    Rubber Research Institute of Malaya, Rubber Research Institute of India, kottayam and other institutes have developed clonal varieties. These clones are broadly classified into three categories viz., primary, secondary and tertiary, based on the method adopted for the development of their mother trees. When mother trees are selected from existing seedling populations of unknown parentage and are multiplied vegetatively to give rise to the clones, they are called primary clones. When the mother trees clones and are then multiplied vegetatively, they are known as secondary clones.
  </p>
  <img src="/images/rubvaer.png" alt="">

  <h3>Intercultur</h3>
  <h4>Cover Croping</h4>
  <p>
    Growing cover crops is important in rubber plantations to prevent soil erosion, conserve soil moisture, keep down the soil temperature and add mulch and organic matter to the soil. Some of the cover crops commonly used in South India are Pueraria phaseoloides, Calopogonium mucunoides, Centrosema pubescens and Mimosa invisa var. inermis.

It is often desirable to establish a mixed cover to simultaneously get the benefits of these cover crops. A mixture of Calopogonium, Pueraria and Centrosema seeds in the ratio of 5:1:4 is used for sowing. In this mixed cover, Calopogonium grows much rapidly and covers the ground quickly during the first year itself. Then Pueraria and Centrosema start dominating. Dense and vigorous growth of Pueraria suppresses weeds. But it starts fading out when the canopy closes. Subsequently, Centrosema continues to grow under shaded conditions while the former two cover crops fail to thrive. Thus, complete benefits of cover crops starting from the first year of planting could be obtained if mixed cover crop is established in rubber planations.
  </p>

  <h4>Weeding</h4>
  <p>
    The weeds can be eradicated either by labour or by employing weedicides. When weedicides are employed, care should be taken that the cover crops are not affected. 2,4-D formulations (Fernoxone @2kg in 450 litres of water) may be sprayed early in the season to eradicate the weeds.
  </p>

  <h3>Tapping</h3>
  <p>
    The rubber trees attain tappable stage in about seven years provided they possess the required girth of the trees. Seedling must attain a girth of 55cm at a height of 50cm from the ground. In the case of budded trees the girth should be 50 cm at a height of 125–150cm from the bud union. Tapping is the periodical removing of thin slices of bark to extract rubber latex. Tapping is done by skilled men. While tapping the depth should be 1mm close to cambium without any damage to it, otherwise callus formation will take place causing swellings. Tapping has to be done on a slope of 300 to the horizontal zone in the case of budded trees and 250 in the case of seedlings. Tapping is done early in the morning, as late tapping will cause reduction in the flow of latex. In the early morning the turgor pressure in the latex vessels is high and rapid flow of latex occurs. Tapping system: The following tapping systems are generally followed in India.
  </p>
  <img src="/images/tap.png" alt="">

  <p>
    In South India, rubber trees shed their leaves during December-January and immediately again they put forth new leaves and flowering. During this period the trees are given rest since the yield of rubber will be poor if tapped. The yield of rubber steeply increases year by year and the peak is reached 14-18 years after planting. Then it slowly declines. After 40 years it may not be economical to maintain the trees. The latex yield will vary with the clone, age of the trees, fertility of the soil, climatic conditions and skill of the tapper. In the case of old trees, tapping may be done intensively adopting a system of two half spirals, one at normal basal level and the other at a higher level on the opposite side and away from first one atleast 120 – 180 cm. Intensive tapping prior to feeling of the old trees is called slaughter tapping. It is often done at higher levels, sometimes even one branches with the help of ladders and not on the usual renewed bark levels. As the objective of slaughter tapping is to extract as much latex as possible from the available bark, no consideration is given to the technique, intensity or standard of tapping. Tapping is not done on rainy days but by fixing a polythene rain guard to the trunk of the tree above the tapping panel, tapping can be carried out during rainy season also. About 35-40 additional tapping per annum can be obtained by rain guarding the trees under the alternative daily system. It is recommended in areas where the annual yield is 700kg/ha or more and where normally more than 25 tapping days are lost by rain. A number of chemicals have been shown to influence the flow of latex after tapping, among which, ethrel (2-chloroethy1 phosphonic acid) has been found to stimulate and increase the yield of rubber latex two-fold. Ethrel has to be diluted with coconut oil to have 10% active ingredient and is applied thrice during the year i.e., March, August, September and November.
  </p>

  <h3>Processing of Rubber</h3>
  <p>
    The latex that flows out from the rubber trees on tapping is channelled into a container, generally coconut shell cups, attached to them. Latex collected in coconut shell cups in transferred to clean buckets, two to three hours after tapping. The latex which gets dried up on the tapping panel (tree lace) and the collection cups (shell scrap) also form a part of the crop and are collected by the tapper in baskets just prior to tapping. The latex spilt including overflows on the ground (earth scrap), when gets dried up, is also collected once in a month. Normally 10-20 % of the total crop constitute the tree lace, shell scrap and earth scrap. Rubber can be processed and marketed as Preserved latex concentrates: The latex is collected in the storage tank, from there it is brought to a centrifuge machine, rotating at 1440 rpm. Due to the centrifugal action, liquid portion comes out. The upper layer, the concentrated latex, is collected and brought to bulking tank and mixed with chemical and packed in drums. 60% rubber is present in it. Skim latex is taken to another tank and sulphuric acid is added and coagulated and milled to get skim crepe. It is of poor quality while the concentrated latex fetches very higher price. Dry ribbed sheet rubber: Anti-coagulants (solutions of aminonia, formalin or sodium sulphite) are added to the cups to prevent the coagulation of latex before it reaches the factory. The latex so collected is bulked and then strained to remove the impurities. It is then diluted to a standard consistency of 12-13% rubber. Special hydrometers like metrolac, latex meter are employed to measure the percentage of rubber. After dilution, the latex is strained through a 60 mesh screen for the second time. Then it is poured into the special coagulating tanks or aluminium pans which is divided into many compartments by thin aluminium sheets and acetic acid or formic acid to used for coagulation. Slow coagulation produces a soft rubber, which is easy to work on the rollers. The acid is to be added quickly and mixed thoroughly with the surface of rubber sheets. After coagulation, rubber sheets are repeatedly washed several times with changes of water and passed through hand or power operated rollers. In the roller excess water and dissolved impurities are pressed and sequeezed out. The surface of the rollers may be either smooth or grooved or zig zag or straight or diamond pattern, its impression is normally left on the surface of the sheets when they come out of the press. These sheets are hung in shade for two to three hours for dripping in a dust free place. They are then taken to smoke houses for thorough drying. Smoking of rubber sheets is done to dry the sheets properly and to avoid formation of blisters. In the smokehouse, the sheets are smoked at a low temperature of 48-500C with fairly high humidity during the first day subsequently during 2nd to 4th day the temperature being 680C with low relative humidity. They are taken out, graded and packed. Such products are known as smoked sheets or dry ribbed sheet rubber. Various grades of rubber sheets are RMA IX, RMA-1, RMA-2, RMA-3, RMA-4 and RMA-5. High grade rubber sheets are clear, free from blisters, translucent and of a golden brown colour and fetch a better price. Dry crepe rubber: When coagulum from latex or any form of field coagulum after necessary preliminary treatments is passed through a set of creping machines to get crinkly, lace-like rubber called ‘crepe rubber’ after drying. Various grades of crepe rubbers are EPC super 1 X, EPC1X, EPC2X, and EPC3X.
  </p>

  <h3>Plant Protection</h3>
  <img src="/images/rubdie.png" alt="">



    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->