<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Tumeric</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    Turmeric is the dried rhizome of Curcuma longa, a herbaceous plant. The rhizome has 1.8-5.4% curcumin, the pigment and 2.5-7.2% of essential oil. It is used as an important condiment and as a dye with varied applications in drug and cosmetic industries. In India, Andhra Pradesh is the leading state followed by Maharashtra, Tamil Nadu, Orissa, Kerala and Bihar.
  </p>

  <h3>Requirement</h3>
  <h4>Climate</h4>
  <p>
    Turmeric can be grown from sea level to 1500m in the hills, at a temperature range of 20-300C with a rainfall of 1500-2250mm per annum. It is also grown as an irrigated crop.
  </p>
  <h4>Soil</h4>
  <p>
    It thrives best in a well drained sandy or clayey loam rich in humus content. It can be grown on different soil viz. light black, ashy loam and red soils to clay loams.
  </p>

  <h3>Varieties</h3>
  <p>
    CO1, BSR.1, Suguna, Suvarna, Sudharshana, Krishna, Sugundham, Roma, Suroma, Rajendra Sonia, Ranga, Rasmi.
  </p>

  <h3>Material and Planting</h3>
  <p>
    Farm yard manure @10 t/ha is applied as basal dressing. Beds are earthed up each time after top dressing. The NPK recommendation is 125:37:37kg per ha. Whole Phosphorus (P) and Potash (K2O) is given as basal dose at the time planting while Nitrogen (N) is applied as 25kg each at basal, 30,60,90 and 120 days after planting i.e., 125kg N.  </p>
<hr>
  
  <h3>Fertilizers</h3>
  <p>
    Based on above temperature requirement it has been found that for indigenous wheat last week of October, for long duration dwarf varieties like Kalyansona, Arjun, etc. first fortnight of November and for short duration dwarf wheats like Sonalika, Raj 821 etc. second fortnight is the best sowing time. Under exceptionally late sown condition it may be delayed to latest by 1st week of December beyond which if area is very small transplanting may be practiced.
  </p>

  <h3>Intercultural Operations</h3>
  <h4>Mulching and weeding</h4>
  <p>
    The crop is to be mulched immediately after planting with green leaves or banana psuedostem or sugarcane trash at the rate of 12-15 tonnes per hectare. It may be repeated for second time after 50 days with the same quantity of green leaves after weeding and application of fertilizers. Weeding may be done thrice at 60,120and 150 days after planting depending upon weed intensity.
  </p>

  <h3>Irrigation</h3>
  <p>
    Depending on the soil types, irrigated crops require 15-20 irrigations in heavy soils and 35-40 in light soils. Moisture stress affects the growth and development of the plant especially during the rhizome bulking stage.
  </p>

  <h3>Plant Protection</h3>
  <h4>Pest</h4>
  <h5>Shoot borer (Conogethes punctiferalis)</h5>
  <p>
    The presence of bore hole on the pseudostems through which the frass is extruded and the withered central shoot are the symptoms of pest infestation.
  </p>
  <h5>Control</h5>
  <p>
    Spray Malathion 0.1% at monthly interval from July to October.

Rhizome scale (Aspidiotus hartii)
They feed on the plant sap and in the field in severe cases plants wither and dry. In storage the pest infestation results in shrivelling of buds an rhizomes and may also affect the sprouting of rhizomes. Dip the rhizomes in quinalphos 0.1% twice prior to storage and sowing.
  </p>

  <h3>Harvesting</h3>
  <p>
    Depending upon the variety, the crop becomes ready for harvest in seven to nine months. The land is ploughed and the rhizomes are gathered by hand picking or the clumps are carefully lifted with a spade. Harvested rhizomes are cleaned of mud and other extraneous matter adhering to them. The average yield per hectare is 20-25 tonnes of green turmeric.
  </p>

  <h3>Processing</h3>
  <h4>Curing</h4>
  <p>
    The fresh turmeric is cured before marketing. Curing involves boiling of fresh rhizomes in water and drying in the sun. The mother rhizomes and the fingers are generally cured separately In the traditional method, the cleaned rhizomes are boiled in copper or galvanized iron or earthen vessels, with water just enough to soak them. Boiling is stopped when froth comes out and white fumes appear giving out a typical odour. The boiling lasts for 45-60 minutes when the rhizomes are soft. In the improved scientific method of curing the cleaned fingers (approximately 50kg) are taken in a perforated trough of size 0.9 X 0.55x0.4m, made of GI or MS sheet with extended parallel handle. The perforated trough containing the lingers are then immersed in the pan. The alkaline solution (0.1% sodium carbonate or sodium bicarbonate) is poured into the trough to immerse the turmeric fingers. The whole mass is boiled till the fingers become soft. The cooked fingers are taken out of the pan by lifting the trough and draining the solution into the pan. The cooking of turmeric is to be done within two to three days after harvesting. The cooked fingers are dried in the sun by spreading 5-7 cm thick layers on bamboo mat or drying floor. During night time, the materials should be heaped or covered. Drying is completed in 10-15 days.
  </p>

  <h4>Polishing</h4>
  <p>
    The appearance is improved by smoothening and polishing outer surface by manual or mechanical rubbing. The improved method is by using hand operated barrel or drum mounted on a central axis, the sides of which are made of expanded metal mesh. When the drum filled with turmeric is rotated at 30 rpm, polishing is effected by abrasion of the surface against the mesh as well as by mutual rubbing against each other as they roll inside the drum. The turmeric is also polished in power-operated drums. The yield of polished turmeric from the raw materials varies from 15-25%.
  </p>

  <h4>Colouring</h4>
  <p>
    In order to impart attractive yellow colour, turmeric suspension in water is added to the polishing drum in the last 10 minutes. Composition of emulsion for colour coating of 100kg of half boiled turmeric is Alum 0.04kg, turmeric powder 2kg, castor seed oil 0.14kg, sodium bisulphate 30g, concentrated hydrochloric acid 30ml. When the rhizomes are uniformly coated with suspension, they may be dried in the sun.
  </p>

    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->
