<%- include("./partials/header") %>

<style>
 *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.heading img{
    width: 80%;
}


 
  .container {
    width: 90%;
    display: flex;
    align-items: start;
    border: 1px solid brown;
  }
  .container img {
    width: 70%;
  }

  .container h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .container p {
    font-size: 18px;
  }
</style>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a
      href="/weather"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Weather</a
    >
    <a
      href="/login"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Login</a
    >
    <a
      href="/register"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Register</a
    >
    <a
      href="/contact"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >Contact</a
    >

    <a
      href="javascript:void(0)"
      class="w3-padding-large w3-hover-red w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>

<div
  id="navDemo"
  class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
  style="margin-top: 46px"
>
  <a
    href="#band"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >BAND</a
  >
  <a
    href="#tour"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >TOUR</a
  >
  <a
    href="#contact"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >CONTACT</a
  >
  <a
    href="#"
    class="w3-bar-item w3-button w3-padding-large"
    onclick="myFunction()"
    >MERCH</a
  >
</div>

<div class="slider">
  <div class="slide-track">
    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51AC7B56240D6D84F28"
        >Pradhan Mantri Krishi Sinchayee Yojana - Per Drop More Crop
        (Micro-irrigation Component)</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A23C0254248DAFF28"
        >Sub-mission on Farm Mechanization</a
      >
    </h1>

    <h1>
      <a
        href="https://mahadbt.maharashtra.gov.in/Farmer/SchemeData/SchemeData?str=E9DDFA703C38E51A64CDF3CE7D352F8F"
        >National Food Security Mission: Food grains, Oil seeds, Sugarcane and
        Cotton</a
      >
    </h1>
  </div>
  <div class="slider-heading">
    As per the Government guidelines the farmer schemes circulam avaialble.
  </div>
</div>
<div class="heading">

    <h1>Tea</h1>
    <img src="https://media.istockphoto.com/id/177537480/photo/gold-wheat-field-and-blue-sky.jpg?s=612x612&w=0&k=20&c=CAxLzTeCt4qBn7fifuoOh70ycoHr9w7FyeNVzkde_IM=" alt="">
</div>
<div class="container">
    
  <h3>Introduction:</h3>
  <p>
    The oldest known beverage, tea is native of China in South East Asia. It was known to the Chinese as early as 2737BC, but attained the status of a popular drink in England in 1664 AD. India is the largest producer, consumer and exporter in tea industry.
Tea belongs to the genus Camellia and family Camelliaceae.The original species, which produces tea, were C.assamica (Assam jats), C.sinensis (China jats) and their natural hybrid, C.assamica subspecies lasiocalyx (Indo China or cambod type). Being a highly cross pollinated crop, the present day seedling populations are mixture of both the above two species, however, from their major share of characters – Assam or China type can be distinguished by the following characters.
  </p>

  
  <h3>Varieties</h3>
  <p>
    Clonal selection from seedling population was taken up by UPASI, Tea Scientific Department, Cinchona and also by other Tea Research Institutes. UPASI has so far released 27 clones. Certain outstanding clones released by other Institutes are also used in South India.
  </p>
  <img src="/images/teaver.png" alt="">


  <h3>Climate and Soil</h3>
  <p>
    Tea is exacting in its climatic requirements. The temperature may vary from 16 to 320C and annual rainfall should be 125 to 150 cm, which is well distributed over 8-9 months in a year. The atmospheric humidity should be always around 80% during most of the time. Very dry atmosphere is not congenial for tea. It is grown in plains in North Eastern States but in South India, it is grown in hill ranges from 600 to 2200 m above M.S.L.
  </p>
  <p>
    Tea is a calcifuge crop requiring comparatively low amounts of calcium but high quantities of potassium and silicon. They can be grown in lateritic, alluvial and peaty soils. Optimum pH range is 4.5 to 5.0 and soil depth should be 1.0 to 1.5m.
  </p>

  <h3>Propagation</h3>
  <p>
    Tea can be propagated by seed and by cuttings. Seeds collected from the fruits of seed baries are soaked in water and only heavy seeds, which sink, are alone used for sowing in beds. Germination occurs in 20 to 30 days. At that stage they are carefully lifted and transplanted in polythene sleeves. They will be ready for planting in 9 months.
  </p>

  <h3>Vegetative propagation</h3>
  <p>
    The site for the nursery can be selected in a flat land or gentle slope, near to a perennial water source and easily accessible by road. It should have a good drainage and should be protected from wind, frost and wild animals etc. approximately, 0.15 ha nursery area is required to produce 1.25 lakhs cuttings. Nursery area is to be provided with overhead shade by erecting concrete or stone pillars at a spacing of 3x3m and spread with 6mm2 mesh double strand coirmat which provides about 67% shade.
  </p>
  <p>
    The cuttings for rooting are collected from mother bushes, which are well maintained near the nursery area. Such mother bushes are pruned well in advance to induce juvenile shoots. These juvenile shoots are collected in the morning hours and 3cm long cutting each with a healthy mother leaf and an active axillary bud is prepared. Cuttings from top tender and bottom brown wood should be avoided. These cuttings are planted in polythene bags (30cmx10cmx150 gauge), filled with growing medium (Jungle soil: river sand 3:1) in the bottom and rooting medium (Red/subsoil:sand 1:1) in the top 8-10cm. The soil used for rooting media should have an optimum pH range of 4.8 to 5.0, if high, i.e., 5.1 to 5.5, or 5.6 to 6.0, it must be drenched with 1 or 2% aluminum sulphate solution respectively @ 1 litre per cubic foot of soil. This treatment should follow with drenching of twice the volume of plain water to wash excess aluminum sulphate. The cuttings are carefully planted at the centre of the bags in such a way that the petiole should not touch the soil and then they are watered. These bags are then covered with polythene sheets over the G.I. wire arhes and the sides are tugged well to preserve moisture content. Callusing starts in 4-6 weeks and rooting occurs in 10 to 12 weeks. When 80% of the cuttings have rooted, the tents are opened in stages and the overhead shade is gradually reduced to harden the plants.
  </p>

  <h3>Planting</h3>
  <p>
    The land is cleared of the roots of the fallen trees and drains are taken at suitable intervals depending upon the slope to conserve the soil. In the olden days, up and down system of planting at 1.2x1.2m are followed. Presently, contour planting either in a single hedge or double hedge system is followed.
  </p>
  <img src="/images/teaplant.png" alt="">
  <p>
    The last method has many advantages over the first two viz., early and high yield, better soil conservation, less weed growth in the hedge and efficient cultural practices. Planting season normally coincides with June/July and September/October for SouthWest monsoon and North East monsoon areas. Pits of 30x30x45cm size are dug and plants of 12-15 months old are planted by removing the polythene sleeves. Immediate after planting, plants are staked to prevent wind damage.
  </p>

  <h3>After Care</h3>
  <p>
    Immediately after planting, the soil surface around the plants should be mulched, usually cutgrasses of gautemala are employed for this purpose. About 25 tonnes of grass is required to mulch one hectare. Care must be taken to keep the mulch materials away from the collar region last they may cause collar diseases. If there is a dry weather, mud tubes or etah tubes may be buried 15cm deep near the plant in a slanting position and one litre of water per plant may be poured or injected at weekly intervals. This subsoil irrigation helps to minimise the causality besides encourages developing deeper roots.
  </p>

  <h3>Shade Management</h3>
  <p>
    Tea requires filtered shade and if it is exposed to direct sun, its growth is affected. Shade is hence essential and beneficial to tea as:
  </p>
  <ul>
    <li>It regulates the temperature.</li>
    <li>It minimises the effects of drought and radiation injury.</li>
    <li>It increases the soil fertility</li>
    <li>It helps in recycling of nutrients.</li>
    <li>It helps in getting even distribution of crop.</li>
    <li>It serves as windbreak.</li>
    <li>It reduces the incidences of pests.</li>
    <li>It generates additional income by way of timber and fuel.</li>
  </ul>

  <p>
    The desirable characters of a good shade tree like
  </p>
  <ul>
    <li>It must be an evergreen tree, easy to propagate having quick growing and deep rooted characters.</li>
    <li>It provides filtered shade and withstands frequent lopping.</li>
    <li>It tolerates wind and frost.</li>
    <li>It does not have allopathic effect.</li>
    <li>It has commercial timber value also.</li>
  </ul>

  <h3>Weed Control</h3>
  <p>
    Weeds will be a problem in young and pruned fields. Manual weeding is never recommended in tea lest more soil erosion and damage to surface roots and collar regions. Therefore, the following chemical weed control is alone recommended in tea.
  </p>
  <img src="/images/teaweed.png" alt="">

  <h3>Training and Pruning</h3>
  <p>
    In the young tea, when it has established well, centering i.e. removing the growing point leaving 8 to 10 mature leaves from the bottom, is done to induce secondaries. When the secondaries reach more than 60 cm, they are tipped at 50-55 cm height by removing 3 to 4 leaves and bud to induce tertiaries. Therefore, plucking at mother leaf stage is continued for better frame development. It takes nearly 18 to 20 months from planting to reach regular plucking field stage.
  </p>
  <h4>Pruning is done in tea</h4>
  <ul>
    <li>to maintain to convenient height for plucking</li>
    <li>to induce more vegetative growth</li>
    <li>to remove dead and de funct wood and</li>
    <li>to remove the knots and interlaced branches.</li>
  </ul>

  <p>
    Pruning is normally done 4 to 6 years interval depending upon the altitude of the garden, nature of the materials etc. the bushes marked for pruning should have adequate starch reserves in roots otherwise the sprouting following pruning should have adequate starch reserves in roots otherwise the sprouting following pruning will be less. This can be normally tested by the common Iodine test and if the starch reserve is less, bushes are allowed to rest for 2 to 3 months. The different types of pruning are as follows: -
  </p>
  <img src="/images/tp.png" alt="">
  <p>
    Immediately after the rejuvenation or hard pruning, the cut ends are smeared with a paste made of copper oxychloride and linseed oil (1:1). The prunings, consisting of only small twings and leaves are buried in trenches of 30cm width and 45cm depth taken across the slope in alternate rows. The pruned bushes are given washing with 10% lime solution using No. IV nozzle of power sprayers in order to kill the epiphytic growth of moss and lichen so as to induce early and even bud break. Lime washing also minimises sunscorch to the bush frame.
  </p>
  <p>
    The buds from the pruned shoots grow in a steady succession without any cessation of growth. These are known as a periodic shoots or primary shoots. These primary shoots should be induced to produce flush shoots, otherwise known as periodic shoots by regular tipping operation. Tipping is the removal of terminal portion of the shoot and it varies with jats and pruning height as given below. Tipping height refers to the number of leaves that must be left above the pruned cut while tipping in material refers to that portion of the terminal shoot, which must be tipped off.
  </p>
  <img src="/images/teaheight" alt="">


  <h3>Harvesting or Plucking</h3>
  <p>
    Plucking consists of harvesting 2 to 3 leaves and a bud. It is the most labour intensive operation in a tea industry and also decides the yield and quality of made tea. Normally, a pluckable shoot takes 60 to 90 days for harvesting since its sprouting from the axillary buds. When the shoot is plucked upto mother leaf, it is known as light plucking and if it is plucked below mother leaf, it is called hard plucking. The plucking interval and plucking standard in relation to cropping is given below:
  </p>
  <img src="/images/cropping.png" alt="">
  <p>
    It is essential to add one tier of active maintenance foliage to the bush every year. This is done by mother leaf plucking during January to March. During the rest of the period level plucking can be carried out.
  </p>
  <p>
    Consequent to plucking, bush height increases every year in the order of 10cm over tipping height in the first year, 7.5cm, 7.5cm, 5cm and 5cm over the previous year height in the second, third, fourth and fifth year respectively.
  </p>

  <h3>Yield</h3>
  <p>
    Yield of made tea per hectare depends upon many factors such as elevation, clonal or seedling jats, management practices, severity of pruning, processing techniques etc., Generally, in tea industry, a field which yields upto 2000kg of made tea/ha is considered as low yielding and 2000 to 3000kg as medium yielding and anything above 3000kg as high yielding fields.
  </p>

  <h3>Manufacturing of Tea</h3>
  <p>
    Basically, there are two types of processing viz.,
  </p>
  <ol>
    <li>Orthodox method in which the rolling operation is done in a series of rollers. The rollers have rotary tables with battens, jacket for loading the leaf and a pressure cup,</li>
    <li>CTC method (cutting, tearing and curling) which has a CTC machine, consisting of series of a pair of rollers mounted in such a way they rotate in opposite directions and the clearance between them is so adjusted to crush and tear the leaves.</li>
  </ol>

  <h3>Irrespective of the method, manufacturing of tea involves the following steps:</h3>
  <h4>Withering:</h4>
  <p>
    The objective of withering is to reduce the moisture content of leaves by spreading them in troughs which receive artificial air from fan fitted on one end. At the end of withering, the leaves attain a flaccid condition for which it may take 12 to 18 hours depending upon the weather condition.
  </p>

  <h4>Rolling</h4>
  <p>
    This operation is carried on by a series of machines or in a single roller, during which the cells in the leaves are broken to liberate the sap containing the polyphenol oxidase, an enzyme, which in the presence of oxygen, oxidises the polyphenols to produce theaflavins and thearubigens. These are responsible for colouring of the tea and is a 30-40 minutes. Afterwards, the fine sifted rolled ones are sent for fermentation while the coarse ones are again sent for rolling.
  </p>

  <h4>Fermentation</h4>
  <p>
    Rolled tea materials are either spread in concrete floors or kept in aluminum trays. In the presence of high humidity and proper step decides the quality i.e. strength, colour and briskness of tea. Fermentation requires 1 hour or 2 hours depending upon the environmental conditions.
  </p>

  <h4>Drying</h4>
  <p>
    This step aims at stopping the fermentation process and slowly removing the moisture content without a burnt smell but preserving the inherent quality. This is achieved by passing the fermented tea in thin layers through conveyors into a drier in which the inlet temperature is maintained around 250 – 2800F and outlet temperature is a round 150-2000F. Proper drying takes 30-40 minutes.
  </p>

  <h4>Grading</h4>
  <p>
    Before grading, the dried tea is removed of the stalky fibres, which affect the quality, by passing through fibre separate machines. The bulk tea is passed through different sized meshes which aid in separation into different grades.
  </p>
  <img src="/images/grad.png" alt="">

  <h3>Plant Protection</h3>
  <p>
    Many pests and diseases are known to infect tea bushes and cause economic losses. The important pests and diseases, their typical symptoms and control measures are
  </p>
  <img src="/images/pests.png" alt="">


  <h3>Diseases</h3>
  <img src="/images/teades.png" alt="">




    <div class="leftlink">
        <b>Vegetables</b>
        <ul style="margin-left:10px;">
        <li><a href="bhendi.htm" target="main">Bhendi</a></li>
        <li><a href="bottlegourd.htm" target="main">Bitter Gourd</a></li>
        <li><a href="cabbage.htm" target="main">Cabbage</a></li>
        <li><a href="frenchbeans.htm" target="main">French Beans</a></li>
        <li><a href="gavar.htm" target="main">Gavar</a></li>
        </ul>
       




</div>
<!-- <%- include("./partials/footer") %> -->
