.logo{
  width: 150px;
  height: 150px;
}

a {
  color: #00b7ff;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  /* background: url("/images/5.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1{
  font-size: 60px;
  font-weight: bold;
  
}
.container  h3{
  font-size: 40px;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: #39b920;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
  top: 45px;
  margin-bottom: 50px;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  margin-left: 10px;
}
.slider .slide {
  height: 100px;
  width: 250px;
  font-size: 20px;
}
.slider .slide-track a {
  margin-left: 50px;
  color: rgb(43, 0, 255);
}

.slider-heading {
  text-align: center;
  color: red;
  font-size: 20px;
}

.w3-content h1 {
  font-size: 40px;
}
.w3-content p {
  font-size: 20px;
}
/* 
footer {
  position: fixed; 
  bottom: 0;
  height: 80px;
  width: 100vw;
  
}

footer a {
  margin-left: 10px;
} */
